<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>categories</title>
</head>
<body>
  <ul>
    <% categories.each do |category| %>
      <li><%= category.name %></li>
    <% end %>
  </ul>
</body>
</html>