<!DOCTYPE html>
<html>
  <head>
    <title>My first web site.</title>
  </head>
  <body>
    <a href='/'>Main</a>
    <a href='/hello_world'>Hello world</a>
    <h1>Main</h1>
    <ul>
      <% categories.each do |category| %>
        <li><%= category.name %></li>
      <% end %>
    </ul>
  </body>
</html>
